extends layout
block content
  p Hello, Friend...
  p In order to see a list of games...
  p Or participate in a chat...
  p Or anything...
  p please...

  h1
    a(href="/register") REGISTER 
    | or 
    a(href="/login") LOGIN