extends layout
block content
  h1: a(href="/addGame") Add a Game  
  div.games
    each game in games
      section
        a(href="/games/" + game.title)
          div.gameInfo
            h2 #{game.title}
            img(src=game.photo, alt=game.title)
        form(id="form" action="/addLike/" + game.title method="post")
          p
            input(id="submit" type="submit" value="Add To Favorites")