nav
  grid-column: 1 / 5
  display: flex
  justify-content: space-between
  align-items: center
  padding-left: 1rem
  padding-right: 1rem
  a
    text-decoration: none
    h1
      font-size: 2rem
      padding-left: 1rem
  div.login
    a
      font-size: 2rem
      text-decoration: none
      padding-left: 1rem